body {
    background-color: rgb(55, 101, 185);
    margin: 0;
}

.container {
    width: 1152px;
    /*height: 100vh;*/ 
    /*removed height to equalise the borders*/
    background-color: rgb(58, 5, 5);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    padding-top: 70px;
    padding-bottom: 70px;
    /*padding added due to height issue*/
}

.card1 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content: start;
    align-items: flex-end;
}

.card2 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    align-items: stretch;
    justify-content: center;
}

.card3 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content: end;
    align-items: center;
}

.card4 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content:space-between;
}

.card5 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    justify-content: space-evenly;
}

.card6 {
    padding: 5px;
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}


.square {
    margin: 10px;  
    width: 78px;
    height: 78px;
    background: #d4151c;
    border-radius: 4px;   
    align-items: center;
    color: white;
    text-align: center; 
}

.square1 {
    align-items: stretch;
    margin: 10px;  
    width: 78px;
    /*height: 78px;*/
    background: #d4151c;
    border-radius: 4px; 
    color: white;
    text-align: center;
}

.square2 {
    align-self: flex-end;
    margin: 10px;  
    width: 78px;
    height: 78px;
    background: #d4151c;
    border-radius: 4px;
}

.square3 {
    flex-grow: 2;
    margin: 10px;  
    /*width: 78px;*/
    height: 78px;
    background: #d4151c;
    border-radius: 4px;
}
    
